*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(circle, #e1e1e1, #d3d3d5, #c5c5c9, #b7b8bd, #a9abb2, #9ca0a7, #8f959b, #828a90, #757e82, #697173, #5e6565, #535958);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc-body{
    width: 350px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(11, 24, 61);
}

.calc-display{
    height: 60px;
    margin-top: 30px;
}

.calc-display > input{
    width: 85%;
    margin: 0 auto;
    display: block;
    height: 100%;
    color: black;
    font-size: 2rem;
    text-align: right;
    padding: 2px;
}

.calc-display > input::placeholder{
    color: black;
    text-align: right;
}

.calcBtn-container{
    margin: 50px auto;
    height: 65%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.numberBtn-container{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.symbolBtn-container{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
}

.numberBtn-container > button{
    font-size: 1.5rem;
}


.symbolBtn-container > button{
    background-color: rgb(185, 185, 185);
    font-size: 1rem;
    font-weight: bold;
}

.symbolBtn-container > button:nth-child(1){
    background-color: darkred;
    color: white;
}

button:hover{
    background-color: black;
    color: white;
}